*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #282828;
    color: #c2c2c2;
}

label {
    display: inline-block;
    width: 10rem;
}

.wrapper {
    display: block;
    position: relative;
}

.atmos-select-button {
    background-color: #505050;
    color: #e9e9e9;
}

.atmos-select-menu {
    background-color: #3c3c3c;
}

.atmos-select-menu-control {
    background-color: #3c3c3c;

    input {
        background-color: #505050;
        color: #e9e9e9;
    }
}
.atmos-select-menu-item.selected {
    background-color: #505050;
}

.atmos-select-menu-item:not(.disabled):not(.selected):hover {
    background-color: #454545;
}


.atmos-select-menu-item-value {
    color: #a7a7a7;
}

/*

.atmos-select-button {
    height: 2.5rem;
    appearance: none;
    border-radius: 0.375rem;
    border: 1px solid rgb(209 213 219);
    background-color: rgb(255 255 255);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: rgb(15 23 42);
    padding: 0.5rem 0.75rem;
}

.atmos-select-button:after {
    content: "";
    width: 1rem;
    height: 1rem;
    background-image: url("../test/sort.png");
    background-size: contain;
    margin-left: auto;
}

.atmos-select-button:focus {
    border-color: transparent;
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: rgb(255, 255, 255) 0 0 0 0, rgb(79, 70, 229) 0 0 0 2px, rgba(0, 0, 0, 0) 0 0 0 0;
}

.atmos-select-button:disabled,
.atmos-select-menu-toggle:disabled {
    cursor: not-allowed;
    filter: brightness(.93);
}

.atmos-select-menu {
    z-index: 10;
    border-radius: 0.375rem;
    background-color: rgb(255 255 255);
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    box-shadow: rgb(255, 255, 255) 0 0 0 0, rgba(0, 0, 0, 0.05) 0 0 0 1px, rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.1) 0 4px 6px -4px;
    border: none;
}

.atmos-select-menu-control input {
    height: 100%;
    width: 100%;

    appearance: none;

    border: none;

    background-color: transparent;

    padding: .5rem .75rem;
    margin: 0;

    font-size: .875rem;
    line-height: 1.5rem;
    font-weight: 400;

    outline: none;

    &:hover {
        background-color: #fafafa;
    }

    &:focus {
        background-color: #fafafa;
        outline: none;
    }
}

.atmos-select-menu-item {
    user-select: none;
    padding: 0.5rem 0.75rem;
    color: rgb(17 24 39);
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
}

.atmos-select-menu-item:not(.disabled):not(.selected):hover {
    background-color: #eef2ff;
}

.atmos-select-menu-item.selected {
    background-color: rgb(79 70 229);
    color: rgb(255, 255, 255);
}

.atmos-select-menu-optgroup {
    padding: 0 .75rem;
    border-top: 1px solid #e9ecef;
    margin: .5rem 0;
}

.atmos-select-menu-optgroup-text {
    padding: .5rem;
    font-size: .875rem;
    font-weight: bold;
    font-style: italic;
    color: #6c757d;
    white-space: nowrap;
}

.atmos-select-menu-optgroup .atmos-select-menu-item,
.atmos-select-menu-optgroup-text {
    margin: 0 -.75rem;
}

.atmos-select-menu-item.selected .atmos-select-menu-item-value {
    color: #d9d9d9;
}

.atmos-select-menu-item-tick {
    background-image: url("../test/check.png");
    background-size: contain;
}
*/
