select[multiple][size="1"] {
    background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
    appearance: none;
    padding-right: 2.25rem;
}

@media (min-width: 1025px) and (any-pointer: fine), (any-hover: hover) {
    @supports selector(::picker(select)) {
        select {
            &:not([multiple]), &::picker(select) {
                appearance: base-select !important;
            }
    
            &::picker(select) {
                --bs-dropdown-zindex: 1000;
                --bs-dropdown-padding-x: 0;
                --bs-dropdown-padding-y: 0.5rem;
                --bs-dropdown-spacer: 0.125rem;
                --bs-dropdown-font-size: 1rem;
                --bs-dropdown-color: var(--bs-body-color);
                --bs-dropdown-bg: var(--bs-body-bg);
                --bs-dropdown-border-color: var(--bs-border-color-translucent);
                --bs-dropdown-border-radius: var(--bs-border-radius);
                --bs-dropdown-border-width: var(--bs-border-width);
                --bs-dropdown-inner-border-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
                --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
                --bs-dropdown-divider-margin-y: 0.5rem;
                --bs-dropdown-box-shadow: var(--bs-box-shadow);
                --bs-dropdown-link-color: var(--bs-body-color);
                --bs-dropdown-link-hover-color: var(--bs-body-color);
                --bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);
                --bs-dropdown-link-active-color: #fff;
                --bs-dropdown-link-active-bg: #0d6efd;
                --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
                --bs-dropdown-item-padding-x: 1rem;
                --bs-dropdown-item-padding-y: 0.25rem;
                --bs-dropdown-header-color: #6c757d;
                --bs-dropdown-header-padding-x: 1rem;
                --bs-dropdown-header-padding-y: 0.5rem;
                z-index: var(--bs-dropdown-zindex);
                font-size: var(--bs-dropdown-font-size);
                color: var(--bs-dropdown-color);
                text-align: left;
                list-style: none;
                background-color: var(--bs-dropdown-bg);
                background-clip: padding-box;
                border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    
                &:popover-open {
                    display: grid;
                }
    
                margin: .125rem 0 0;
                padding: .5rem;
                border-radius: var(--bs-border-radius-lg);
            }
    
            &::picker-icon {
                display: none;
            }
    
            option {
                display: block;
                width: 100%;
                padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
                clear: both;
                font-weight: 400;
                color: var(--bs-dropdown-link-color);
                text-align: inherit;
                text-decoration: none;
                white-space: nowrap;
                background-color: transparent;
                border: 0;
                border-radius: var(--bs-border-radius) !important;
                cursor: pointer;
    
                &:focus, &:hover {
                    color: var(--bs-dropdown-link-hover-color);
                    background-color: var(--bs-dropdown-link-hover-bg);
                }
    
                &:active, &:checked {
                    color: var(--bs-dropdown-link-active-color);
                    text-decoration: none;
                    background-color: var(--bs-dropdown-link-active-bg);
                }
    
                &::checkmark {
                    display: none;
                }
    
                &:not(:first-child) {
                    margin-top: .25rem;
                }
    
                &:disabled {
                    color: var(--bs-dropdown-link-disabled-color);
                    pointer-events: none;
                    background-color: transparent;
                }
            }
    
            hr {
                height: 0;
                margin: var(--bs-dropdown-divider-margin-y) 0;
                overflow: hidden;
                border-top: 1px solid var(--bs-dropdown-divider-bg);
                opacity: 1;
            }
    
            optgroup[label] {
                display: block;
                padding-top: var(--bs-dropdown-header-padding-y);
                margin-bottom: 0;
                font-size: .875rem;
                color: var(--bs-dropdown-header-color);
                white-space: nowrap;
                font-weight: 500;
    
                option {
                    font-size: medium;
                    font-weight: normal;
                }
    
                option:first-child {
                    margin-top: var(--bs-dropdown-header-padding-y);
                }
            }
        }
    }

    *:has(> select.platypicker) {
        anchor-scope: --platypicker;
    
        select.platypicker {
            anchor-name: --platypicker;
    
            &::picker(select) {
                display: none;
            }
    
            & + .dropdown-menu[popover] {
                display: revert;
                position-anchor: --platypicker;
                top: calc(anchor(bottom) + .125rem) !important;
                left: anchor(left) !important;
                min-width: anchor-size();
                max-height: 30rem;
                
                transform: none !important;
    
                .input-group:not(:has(*:not(.d-none))) {
                    display: none;
                }
    
                .input-group input:not(:has(~ button:not(.d-none))) {
                    border-top-right-radius: var(--bs-border-radius);
                    border-bottom-right-radius: var(--bs-border-radius);
                }
                
                .input-group input.d-none {
                    & ~ button {
                        flex-grow: 1;
                        flex-basis: 50%;
                    }
    
                    & + button:not(.d-none),
                    & + button.d-none + button:not(.d-none) {
                        border-top-left-radius: var(--bs-border-radius);
                        border-bottom-left-radius: var(--bs-border-radius);
                    }
                }
    
                .input-group button:not(.d-none) + button:not(.d-none) {
                    border-left-width: 0;
                }
    
                li:has(.dropdown-item.d-none) ~ li:has(.dropdown-divider) {
                    display: none;
                }
    
                li:has(.dropdown-item:not(.d-none)) ~ li:has(.dropdown-divider) {
                    display: revert;
                }
    
                li:has(.dropdown-item.d-none), /* Hidden items */
                li:has(.dropdown-header.d-none), /* Hidden headers */
                li:has(.dropdown-divider.d-none), /* Hidden dividers */
                li:has(.dropdown-header):not(:has(~ li .dropdown-item:not(.d-none))), /* Headers without any visible items */
                li:has(.dropdown-divider):not(:has(~ li .dropdown-item:not(.d-none))) /* Dividers without any trailing items */ { 
                    display: none;
                }
            }
        }
    }
    
    .dropdown-item::highlight(platypicker-highlight),
    .dropdown-item small::highlight(platypicker-highlight) {
        background-color: #FEE6B1;
        color: black;
    }
}