@media (any-pointer: fine), (any-hover: hover) {
    *:has(> select.platypicker) {
        anchor-scope: --platypicker;
    
        select.platypicker {
            anchor-name: --platypicker;

            &:not([multiple]), &::picker(select) {
                appearance: base-select !important;
            }
    
            &::picker(select) {
                display: none;
            }

            &::picker-icon {
                display: none;
            }
    
            & + .dropdown-menu[popover] {
                display: revert;
                position-anchor: --platypicker;
                top: calc(anchor(bottom) + .125rem) !important;
                left: anchor(left) !important;
                min-width: anchor-size();
                max-height: 30rem;
                
                transform: none !important;
    
                .input-group:not(:has(*:not(.d-none))) {
                    display: none;
                }
    
                .input-group input:not(:has(~ button:not(.d-none))) {
                    border-top-right-radius: var(--bs-border-radius);
                    border-bottom-right-radius: var(--bs-border-radius);
                }
                
                .input-group input.d-none {
                    & ~ button {
                        flex-grow: 1;
                        flex-basis: 50%;
                    }
    
                    & + button:not(.d-none),
                    & + button.d-none + button:not(.d-none) {
                        border-top-left-radius: var(--bs-border-radius);
                        border-bottom-left-radius: var(--bs-border-radius);
                    }
                }
    
                .input-group button:not(.d-none) + button:not(.d-none) {
                    border-left-width: 0;
                }
    
                li:has(.dropdown-item.d-none) ~ li:has(.dropdown-divider) {
                    display: none;
                }
    
                li:has(.dropdown-item:not(.d-none)) ~ li:has(.dropdown-divider) {
                    display: revert;
                }
    
                li:has(.dropdown-item.d-none), /* Hidden items */
                li:has(.dropdown-header.d-none), /* Hidden headers */
                li:has(.dropdown-divider.d-none), /* Hidden dividers */
                li:has(.dropdown-header):not(:has(~ li .dropdown-item:not(.d-none))), /* Headers without any visible items */
                li:has(.dropdown-divider):not(:has(~ li .dropdown-item:not(.d-none))) /* Dividers without any trailing items */ { 
                    display: none;
                }
            }
        }
    }
    
    .dropdown-item::highlight(platypicker-highlight),
    .dropdown-item small::highlight(platypicker-highlight) {
        background-color: #FEE6B1;
        color: black;
    }
}