.hidden,
.hidden + .atmos-select-button {
    display: none !important;
}

.atmos-select-button {
    width: 100%;
    padding: 0.3rem 2rem 0.3rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        width: 100%;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.atmos-select-menu {
    margin: 0;
    position: absolute;
    max-height: 20rem;
    overflow: auto;
    padding: 0.25rem 0;
    border: 1px solid grey;
    background-color: white;
}

.atmos-select-menu-item {
    display: flex;
    padding: .25rem .5rem;
    align-items: center;
}

.atmos-select-menu-control {
    display: flex;
    align-items: center;
    position: sticky;
    top: -.25rem;
    background-color: white;
}

.atmos-select-menu-control input {
    width: 100%;
    margin: .25rem .5rem;
}

.atmos-select-menu-item {
    cursor: pointer;
}

.atmos-select-menu-item.disabled {
    cursor: not-allowed;
    color: #808080;
}

.atmos-select-menu-item:not(.disabled):not(.selected):hover {
    background-color: #e6e6e6;
}

.atmos-select-menu-item.selected {
    background-color: #d6d6d6;
}

.atmos-select-menu-optgroup {
    padding-left: .5rem;
    display: flex;
    flex-direction: column;
}

.atmos-select-menu-optgroup-text {
    padding: .25rem .5rem;
    margin-left: -.5rem;
}

.atmos-select-menu-optgroup .atmos-select-menu-item {
    padding-left: 2rem;
    margin-left: -.5rem;
}

.atmos-select-menu-item-value {
    margin-left: .5rem;
    color: #808080;
}

.atmos-select-menu-item-tick {
    height: 1rem;
    width: 1rem;
    margin-left: auto;
}

.atmos-select-menu-item:not(.selected) .atmos-select-menu-item-tick {
    visibility: hidden;
}

::highlight(atmos-select-highlight) {
    background-color: #FEE6B1;
    color: black;
}
